{% extends "layout.html" %}

{% block content %}
<section class="hero">
  <div class="container">
    <h1 class="hero-title">Your next stay starts here</h1>


    <div class="search-card">
      <form action="/search" method="get">

        <div class="row g-3 align-items-end">
          <div class="col-md-4">
            <div class="search-input-box">
              <label>Where</label>
              <input
                type="text"
                class="form-control"
                name="city"
                placeholder="Where to?"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="search-input-box">
              <label>Dates</label>
              <input
                type="text"
                class="form-control"
                placeholder="Sat, Jun 20 - Mon, Jun 22"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="search-input-box">
              <label>Guests</label>
              <input
                type="text"
                class="form-control"
                placeholder="2 travelers, 1 room"
              />
            </div>
          </div>

          <div class="col-md-2">
            <button type="submit" class="btn btn-primary search-btn w-100">
              Search
            </button>
          </div>
        </div>

        <div class="form-check business-check">
          <input class="form-check-input" type="checkbox" id="businessTrip" />
          <label class="form-check-label" for="businessTrip">
            I'm traveling for business
          </label>
        </div>

      </form>
    </div>


  </div>
</section>


  <main class="container py-5">
    <main class="container py-5">
  <h2 class="fw-bold mb-4 text-center">Featured stays</h2>

  <div class="row g-4">
    {% for hotel in hotels %}
      <div class="col-md-4">
        <div class="card hotel-card">

          <img
            src="{{ url_for('static', path=hotel.image_path) }}"
            class="card-img-top"
            alt="{{ hotel.name }}"
            style="height: 220px; object-fit: cover;"
          >

          <div class="card-body">
            <h5 class="card-title fw-bold">{{ hotel.name }}</h5>

            <p class="card-text text-muted">
              {{ hotel.description }}
            </p>

            <p class="fw-bold mb-3">
              From {{ hotel.price }}/night
            </p>

            <a href="{{ url_for('hotel_info', hotel_id=hotel.id )}}" class="btn btn-outline-primary w-100">
              View hotel
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>

  </main>
{% endblock content %}